<div id="flash">
  <input type="hidden" value="<%= url('/admin/permission/set')%>" id="addPermission">
  <input type="hidden" value="<%= url('/admin/permission/unset')%>" id="rmPermission">
  <div class="errors" style="text-align:center"></div>
  <div class="notice" style="text-align:center"></div>
</div>
  
<div style="clear:both"></div>

<div id="folders" class="panel" 
  data-url="<%= url('/admin/folder/index.html.json') %>">
  <%= partial(:folders, :folders=>@folders) %>
</div>

<div class="panel" style="float:right">
  <h1>Users</h1>
  <div>
    <div class="padding" style="height:10px"></div>
    <ul>
      <li class="addButton">Add</li>
      <li data-type="user" class="user entryForm" style="display:none">
        <div class="errors"></div>
        <label>Username</label><input type="text" id="username"/>
        <label>Password</label><input type="password" id="password"/>
        <label>Confirm</label><input type="password" id="confirmation"/>
        <div class="submitButton" data-url="<%= url('/admin/user/create') %>">Create</div>
      </li>
      <% if @users.empty? %>
        <li class="placeholder"><em>No users created yet.</em></li>
      <% else @users.each do |u| %>
        <%= partial(:user, :user=>u) %>
      <% end end %>
    </ul>
  </div>
</div>

<div style="clear:both"></div>