<div class="panel">
  <h1><%= @folder.name %> (<%= @folder.entries.count %>)</h1>
  <div>
    <span style="color:green"><%= @notice unless @notice.nil? %></span>
    <div class="padding" style="height:10px"></div>
    <form action="<%= url("/admin/folder/#{@folder.id}/upload") %>" method="post" enctype='multipart/form-data'>
      Upload file: <input name="file" type="file"/>
      <input type="submit" value="Upload">
    </form>
    <hr>
    <ul>
      <% @folder.entries.each_with_index do |e, i| %>
        <% folder = File.directory? File.join(@folder.path, e) %>
        <li class="entry fileItem <%= 'folder' if folder %>" data-filename="<%= e %>">
          <span><%= e %></span>
          <% if folder %>
            <%= div :class=>"icon", :style=>'top:0px' %>
          <% else %>
            <%= div :class=>"deleteButton", "data-url"=>url("/admin/folder/#{@folder.id}/contents/#{e}/delete") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>